     body {
        background-color: #DDF7E3;
     }

     h1 {
       color: #810CA8;
     }

     h3 {
       color: #3D2C8D;
     }

     hr {
       border-style: none;
       border-top-style: dotted;
       border-color: grey;
       border-width: 5px;
       width: 5%;
     }

     .Experience {
       background-color: #FFD6EC;
     }

     .boys {
       width: 25%;
       float: left;
       margin-left: 50px;
     }
